<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.betterlife.printerngx"
      version="0.1.0">
    <name>NGXPrinter</name>
    <description>Plugin for printing using bluetooth NGX thermal printer</description>
    <license>MIT</license>
    <keywords>phonegap,printer</keywords>
 
 
    <js-module src="www/NGXPrinter.js" name="NGXPrinter">
        <clobbers target="window.NGXPrinter" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NGXPrinter">
                <param name="android-package" value="org.betterlife.printerngx.NGXPrinter"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/NGXPrinter.java" target-dir="src/org/betterlife/printerngx" />
        <source-file src="src/android/libs/NGXPrinter0.9.4.jar" target-dir="libs" />     
     </platform>          
</plugin>